body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(to bottom, #e0f2fe, #bae6fd);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 2rem;
  width: 100%;
  max-width: 750px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto 15px auto; /* tengah horizontal */
  width: 480px;             /* ukuran sedang */
  max-width: 100%;
  height: auto;
}

.h1 {
  font-weight: 700;        /* bold */
  font-size: 24px;         /* ukuran ideal */
  color: #1e40af;

  margin-top: 0px;        /* jarak atas */
  margin-bottom: 20px;     /* jarak bawah */

  line-height: 1.3;        /* biar enak dibaca */
}

form {
  text-align: left;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #94a3b8;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

#viewerContainer {
  margin-top: 20px;
  display: none;
}

canvas {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

.download-btn {
  background: #16a34a;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

#pesan {
  margin-top: 10px;
  color: #1e40af;
}

.footer-text {
  margin-top: 25px;
  font-size: 8px;
  color: #94a3b8;
  text-align: center;
  letter-spacing: 0.5px;
}

label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
  color: #334155;
}
